---
layout: home-page
title: About
permalink: /about/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.about-author-long}}</p>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="far fa-envelope"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="far fa-envelope" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fas fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:+45 20320399"><i class="fas fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fab fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.github %}
        <li class="r-project"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fab fa-r-project"></i></a></li>
      {% else %}
        <li class="r-project"><a href="http://github.com/artemsheludko" target="_blank"><i class="fab fa-r-project" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.instagram %}
        <li class="instagram"><a href="https://instagram.com/{{site.instagram}}" target="_blank"><i class="fab fa-instagram"></i></a></li>
      {% else %}
        <li class="instagram"><a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
