---
layout: home-page
title: Projects
permalink: /projects/
---
<ol class="post-card-box clearfix">
  {% for post in paginator.projects %}
  <li>
    <div class="post-card">
      <a href="{{post.url | prepend: site.projecturl}}" class="post-card-image" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )">
      </a>

      <div class="post-card-body">
        {% for tag in post.tags %}
        <a href="{{site.projecturl}}/tags#{{tag}}" class="tag">|&#32;{{ tag }}</a>
        {% endfor %}
        <a href="{{post.url | prepend: site.projecturl}}" class="post-card-link"><h3 class="post-card-title">{{post.title}}</h3></a>
      </div>

    </div>
  </li>
  {% endfor %}
</ol>
